* {
    margin: 0 auto;
}
div.all {
    background-color: lightgrey;
    min-height: 7200px;
    width: 100%;
    height: auto;
}
div.container {
    width: 1000px;
    margin: 0, auto;
    height: inherit;
    position: relative;

}

nav {    
    height: 40px;
    background-color: black;
    width: 100%;
    margin: 0 auto;
}
button{
    height: inherit;
    background-color: inherit;
    color: white;
    border: none;
    padding: 0px 10px;
    border: 1px gray solid;
}

a img {
    height: 40px;
    margin: 0 5px;
    float: left;
}

.log_reg_btn a {
    display: block;
    float: left;
    height: inherit;
    color: white;
    line-height: 40px;
    margin: 0 3px;  
    text-decoration: none;  
}

.log_reg_btn {
    height: 40px;
    width: 120px;
    float: right;
    margin-right: 15px;
}

.cart {
    display: block;
    float: right;
    height: 50px;
    background-color: yellow;
    border-radius: 0 0 10px 10px;
}

.cart a#cart {
    display: block;
    color: #37b242;
    text-decoration: none;
    float: left;
    margin-top: 13px;
    margin: 13px 5px 0 5px;
}
.cart a img {
    margin-top: 5px;
    float: left;
}

div.nav {
    height: 5px;
    background-color: yellow;
    width: 100%;
    
}

header {
    width: 100%;
    height: 100px;
}

div.header {
    width: 1000px;
    height: 100px;
}

header img {
    width: 230px;
    margin: 10px 0 0 10px;
    float: left;
}

.header .navbar {
    width: 760px;
    float: left;
    text-align: right;
    line-height: 90px;
}
.navbar a {
    padding: 0 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar a:hover {
    background-color: grey;
}

div.line {
    height: 1px;
    width: 1000px;
    margin: 0 auto;
    background-color: black;
}

main .welcome {
    text-align: center;
    top: 30px;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.welcome span {
    background-color: orange;
    color: brown;
    font-family: 'Courier New', Courier, monospace;
}

main .products {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    min-height: 300px;
}

main .title {
    position: relative;
    padding-top: 15px;
}

.product {
    width: 240px;
    background-color: white;
    border-radius: 7px;
    height: auto;    
    float: left;
    margin: 0 5px;
}

.product_img {
    width: 238px;
    border: 1px black solid;
    border-radius: 7px;
    overflow: hidden;
}

.product_img img {
    width: 100%;
    margin: 0;
}

.products h4 {
    margin: 5px 0 10px 5px;
}

.products h4 i {
    float: right;
    font-weight: normal;
    margin-right: 10px;
}
.products .description {
    margin: 5px 0 5px 5px;
}

p {
    margin: 0;
}

.cont {
    margin-bottom: 10px;
    height: auto;
}

.price {
    font-weight: bold;
    font-size: 20px;
    margin: 5px 0 5px 5px;
    float: left;
}

.add_to_cart {
    font-size: 12px;
    padding: 6px;
    margin: 5px;
    float: right;
    background-color: orange;
    color: orangered;
    border-radius: 5PX; 
}